

.container {
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 1%;
  font-family: "Roboto";
}

.navbar-default {
	padding-top: 1%;
}

#profilepicture {
 	max-width: 25%;
 	width: 15%;
 	height: 15%;
}

.jumbotron jumbofirst {
	border-style: solid;
	border-width: 4px;
	border-color: #000;
}

#description {
	text-align: center;

}

.editBtn {
	margin-left: 68%;
	background-color: #3EE6AA;
	border: none;
	&:hover {
		background-color: #d9d9d9;
	}
}

.BIO {
	color: #515151;
}